/* GLOBAL STYLES */

* {
  box-sizing: border-box;
  color: var(--font-color-light);
  padding: 0;
  margin: 0;
}

body {
  min-width: 320px;
}

img,
svg,
video {
  display: block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

video {
  object-fit: contain;
}

/* FONTS */

h1 {
  font-size: 1.75rem;
  line-height: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.125rem;
  margin-bottom: 0.75rem;
  font-weight: 700;
}
