/* ALL STYLES ABOVE 640PX */

@media (min-width: 550px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.25rem;
  }
  .main__header {
    font-size: 3.125rem;
    line-height: 1.1;
    margin-top: 2rem;
  }
  .main__header2 {
    font-size: 1.625rem;
  }

  .main__email-input {
    width: 450px;
  }

  .story-card__header {
    margin-bottom: 1.5rem;
  }
  .nflx-header {
    min-width: 150px;
    padding: 2rem 3rem;
  }
  .btn--signin {
    height: auto;
    width: 150px;
  }
  .btn-container {
    justify-content: space-between;
    max-width: 500px;
  }
  .btn--language-select.MuiButton-root {
    max-width: 115px;
    font-size: 0.9rem /* 18px */;
    line-height: 1.75rem /* 28px */;
    padding: 5.6px 2rem;
  }
}

@media (min-width: 1000px) {
  h1 {
    font-size: 3.125rem;
  }
  h2 {
    font-size: 1.625rem;
  }
  .main-intro {
    max-width: 950px;
  }
  .story-card {
    flex-direction: row;
  }
  .story-card__text-container {
    text-align: left;
    padding: 4.375rem 2.5rem;
    max-width: 700px;
  }
  .main__input-container {
    flex-direction: row;
    align-items: center;
    margin: 2rem 0 8rem;
    height: 64px;
  }
  .main__email-input {
    height: 64px;
  }
  .btn-get-started {
    padding: 1rem;
    min-width: 200px;
    height: 64px;
    margin: 0;
    text-align: center;
    font-size: 1.8rem;
  }
}
