/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --font-color-light: #ffffff;
  --border-gray: #222;
  --nflx-black: #000000;
  --nflx-red: #e50914;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: screen;
  background-image: linear-gradient(rgb(0 0 0 / 60%), rgb(0 0 0 / 60%)),
    url(../public//images/hero-bg.jpg);
}

/* FONT STYLING */

.main__header {
  max-width: 640px;
}

.main__header,
.story-card__header {
  margin-bottom: 1rem;
}
.main__header2,
.story-card__header2 {
  margin-bottom: 1rem;
}

/* BUTTON STYLING */

.btn {
  font-size: 1.125rem /* 18px */;
  line-height: 1.75rem /* 28px */;
  padding: 0.2rem 0.9rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: inherit;
  border: none;
  min-width: 50px;
  color: white;
  text-transform: none;
}

.btn--language-select {
  max-width: 50px;
  font-size: 0.9rem;
  line-height: 1.75rem;
  padding: 0.2rem 0.9rem;
}

.btn--language-select {
  background-color: var(--nflx-black);
  border: 1px solid var(--font-color-light);
  font-size: 0.6rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
  text-transform: none;
  margin-right: 2rem;
}

.language__arrow {
  margin-top: 0.5em;
  font-size: 11px;
}

.language__menu-item {
  width: 115px;
  background-color: black;
}

/* HEADER STYLING */

.nflx-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nflx-icon {
  width: 7rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn--signin {
  width: 105px;
  height: 62.3px;
}

/* MAIN STYLING */
.main-intro {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 2rem;
  padding: 0 1.5rem;
  text-align: center;
}

.main__input-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.main__email-input {
  padding: 1rem;
  width: 300px;
  min-width: 200px;
  height: 48px;
  color: var(--nflx-black);
}

.btn-get-started {
  align-self: center;
  margin: 1.5rem 0 4rem;
  background: var(--nflx-red);
}

.chevron {
  font-size: 1rem;
}

/* CARD STYLING */

.story-card-section {
  background-color: var(--nflx-black);
  width: 100%;
  padding: 0;
  text-align: center;
}

.story-card {
  width: 100%;
  border-top: 9px solid var(--border-gray);
  border-bottom: 9px solid var(--border-gray);
  padding: 4.375rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.story-card__text-container {
  z-index: 45;
}

.story-card__text-container--tv {
  margin-bottom: -38px;
}
.story-card__text-container .story-card__img-container {
  max-width: 600px;
}

.story-card__animation-container {
  position: relative;
  overflow: hidden;
}

.story-card__img {
  position: relative;
  z-index: 2;
  width: 100%;
}

.story-card__animation {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.story-card__animation--tv {
  max-width: 73%;
  max-height: 54%;
  top: 46%;
  left: 50%;
}

.story-card__animation--mac {
  max-width: 63%;
  max-height: 47%;
  top: 34%;
  left: 50%;
}
